<!DOCTYPE html>
<html>
  <head>
    <title>Online Clipboard</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="dist/clipboard.min.js"></script>
  </head>
  <body style="background-color: black;">
    <section id="clipboard">
      <section class="header">
        <textarea v-model="newClip" autofocus></textarea>
        <button type="submit" @click="addClip">Append</button>
      </section>
      <section class="main">
        <ul class="clips">
          <li v-for="clip in clips" class="clip">
            <!-- TODO remove inline style -->
            <div style="white-space: pre-wrap;">{{ clip.text }}</div>
            <button @click="removeClip(clip)">Delete</button>
          </li>
        </ul>
      </section>
      <section class="footer">
        <button @click="clearClipboard">Remove all</button>
      </section>
    </section>
    <script>
      let clipboard = new Vue({
        el: "#clipboard",
        data: {
          clips: [],
          newClip: "",
        },
        created: function () {
          let vm = this;
          axios
            .get("http://127.0.0.1:5000/clips")
            .then(function (response) {
              console.log(response);
              vm.clips = response.data;
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        methods: {
          addClip: function () {
            let vm = this;
            if (vm.newClip === null || vm.newClip.length === 0) {
              return;
            }
            let json = { text: vm.newClip };
            axios
              .post("http://127.0.0.1:5000/clips", json)
              .then(function (response) {
                console.log(response);
                let newClip = response.data;
                vm.clips.push(newClip);
                vm.newClip = "";
              })
              .catch(function (error) {
                console.log(error);
              });
          },
          removeClip: function (clip) {
            this.clips.splice(this.clips.indexOf(clip), 1);
          },
          clearClipboard: function () {
            this.clips = [];
          },
        },
      });
    </script>
  </body>
</html>
